:root {
    --red-color: #F53D5C;
    --red-accent-color: #f0173b;
    --green-color: #22C33D;
    --green-accent-color: #20e240;
    --blue-color: #3D86F4;
    --lightblue-color: #E1F1FF;
    --blue-accent-color: #155cc7;
    --gray-color: #E3E5E8;
    --gray2-color: #F7F7F7;
    --gray3-color: #C4CAD4;
    --gray4-color: #86949E;
    --black-color: #1C2530;
    --base-color: var(--black-color);
    --base-font: "TT Interphases Pro Trl Md", "Inter", Arial, sans-serif;
    --transition: 0.1s ease-in;
}
